@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Prediction Results";
}

<h1>Prediction Results</h1>
<div class="alert-info ">

   
     <div> 
         <div class="heading">Your Outcome:  </div>  
        @if(@ViewBag.Result == 100)
        {
            <div class="text-danger"> You're most likely sick of diabetes </div>
        }
        else
        {
             <div class="text-success"> You're not  sick of diabetes </div>
        }

        
     </div> 
    

</div>
