@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    ViewData["Title"] = "Prediction Results";
}

<h1>Prediction Results</h1>
<div class="alert-info ">

   
     <div> 
         <h3 class="heading">Your Outcome:  </h3>  <br />
        @if(@ViewBag.Prediction == 100)
        {
            <h4 class="text-danger"> You're sick of diabetes </h4><br />
        }
        else
        {
             <div class="text-success"> You're not  sick of diabetes </div>
        }


        
     </div> 
    

</div>
